.icons {
  font-size: 25px;
}

.carrito {
  position: relative;
  height: 100%;
  width: auto;
}

.iconsCar {
  fill: var(--color-primary);
  font-size: 30px;
}

.contadorCarrito {
  position: absolute;
  right: -12px;
  top: -18px;
  background-color: var(--color-primary);
  font-size: 12.5px;
  font-weight: 600;
  color: white;
  border: black 2px solid;
  border-radius: 50px;
  padding: 1px;
}
