.NavBarMain {
  border-top: 5.5px solid #a95534;
  font-family: "Poppins";
  box-shadow: 1px 5px 17px 0px rgba(169, 85, 52, 0.75);
  -webkit-box-shadow: 1px 5px 17px 0px rgba(169, 85, 52, 0.75);
  -moz-box-shadow: 1px 5px 17px 0px rgba(169, 85, 52, 0.75);
  position: fixed;
  height: auto;
}
.container {
  margin-left: 0;
  margin-right: 0;
}

.contLogo {
  width: 260px;
  height: 160px;
  display: flex;
  justify-content: flex-start;
}
.contLogo img {
  height: 160px;
  width: 200px;

  object-fit: cover;
}

.navBarComp {
  gap: 75px;
}

.UserOptions {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserOptions span a {
  text-decoration: none;
  color: #a95534;
}
.icons {
  font-size: 25px;
}
.navCont {
  gap: 20px;
}

.topNavBar {
  text-align: center;
  color: #a95534;
  background-color: whitesmoke;
  padding: 10px;
  font-weight: 600;
  width: 100%;
}
.topNavBar p {
  margin: 0;
}
